.starter {
  color:black;
}

.welcome {
  margin: 20px;
  padding: 26px;
  border: 2px solid darkgoldenrod;
  display: flex;
  flex-direction: column;
}

.startingButton{
  color: red;
}
.startingDiv{
  color: green;
}
.submitAnswer {
color:orange;
}
.answerDiv {
  color:purple;
}

.radioButton{
  color:aquamarine;
}
