.starter {
  color:black;
}

.welcome {
  margin: 20px;
  padding: 26px;
  border: 2px solid darkgoldenrod;
  display: flex;
  flex-direction: column;
}

.startingButton{
  color: black;
}
.startingDiv{
  color: black;
}
.submitAnswer {
color:black;
}
.answerDiv {
  color:black;
}

.radioButton{
  color:black;
}

.central{
  color:black;
  padding:20px;
}

.scoreClass {
  text-decoration: underline;
}

.questionCountClass{
  color:grey;
}