.starter {
  color:black;
}

.startingButton{
  color: black;
}
.startingSection{
  color: black;
}
.submitAnswer {
color:black;
}
.answerSection {
  color:black;
}

.radioButton{
  color:black;
}

.central{
  color:black;
  padding:20px;
  background-color: #00E66C;
}

.scoreClass {
  text-decoration: underline;
  color:greenyellow;
}

.questionCountClass{
  color:white;
}

h5 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:25px;
}

.answerForm{
  color:black;
  border-width: 5px;
  border-color:blue;
  
}
p {
  font-size:30px;
}

form {
  font-size:30px;
}

h1{
  font-size:35px;
}